# SAMPLE fileupload.conf

[main]
url = http://localhost:8080

user = administrator
password = password

file_type = csv
done = move
opal_folder = /data_import
src_folder = ~/input
done_folder = ~/done
logfile = ~/fileupload.log
