# SAMPLE fileupload.conf

[main]
url = http://localhost:8080

use_certificate = false

user = administrator
password = password

#ssl_key =
#ssl_cert =

file_type = csv
move_file = true
opal_folder = /data_import
src_folder = ~/input
done_folder = ~/done
logfile = ~/fileupload.log
