# SAMPLE fileupload.conf

[main]
#url to the opal server
url = http://localhost:8080

#username
user = administrator
#password
password = password

#reference (<project>.<tablename>) to the table that contains permission revoke records
revoke_table_ref = revoketest3.permission_revoke

#full path to the log file
logfile = ~/permissionrevoke.log
